<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002977932687-ubh47jug0kjphvd0e65u4s0u0vqn0099.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002977932687-ubh47jug0kjphvd0e65u4s0u0vqn0099</string>
	<key>API_KEY</key>
	<string>AIzaSyA_BdlVkCQvRcfyy3lJ7QIE2DF3umRS9M0</string>
	<key>GCM_SENDER_ID</key>
	<string>1002977932687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sivateja.flutterfirebasenotificationsexample</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-notific-c6cae</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-notific-c6cae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002977932687:ios:083631cd9e65ba9856c7fa</string>
</dict>
</plist>